@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  background-color: white;
  font-family: "Roboto";
}
@media (max-width: 600px) {
  body.lock {
    overflow: hidden;
  }
}
body.hide {
  overflow: visible;
}
body.popup-lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-label {
  width: 100%;
}
.form-label__item {
  margin-bottom: 10px;
}
.form-label__item:last-child {
  margin-bottom: 20px;
}
.form-label__name {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.form-label__input {
  position: relative;
}
.form-label__input span {
  font-size: 18px;
  position: absolute;
  top: 30%;
  left: 12px;
}
.form-label__input input {
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 131.25%;
  color: black;
  width: 100%;
  padding: 11px 12px 11px 42px;
}
.form-label__input input:focus {
  border: 1px solid #2196f3;
}
.form-label__input input:focus + .icon-input:before {
  color: #2196f3;
}
@media (max-width: 480px) {
  .form-label__input input {
    width: 100%;
  }
}
.form-label__input textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  caret-color: black;
  resize: none;
}
.form-label__input textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-label__input textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-label__input textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-label__input textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-label__input textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-label__icon {
  position: absolute;
  top: 30%;
  left: 0;
  height: 18px;
  width: 18px;
}

.form-policy {
  margin-bottom: 30px;
}
.form-policy__checkbox {
  margin-right: 8px;
}
.form-policy__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.form-policy__link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 28px;
}
@media (min-width: 768px) {
  .button:hover {
    background-color: #58a9eb;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (max-width: 768px) {
  .button {
    padding: 10px 31px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2f303a;
}

::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  border-radius: 0;
}

@font-face {
  font-family: "social";
  src: url("/source/img/fonts/social/social.eot?xsakip");
  src: url("/source/img/fonts/social/social.eot?xsakip#iefix") format("embedded-opentype"), url("/source/img/fonts/social/social.ttf?xsakip") format("truetype"), url("/source/img/fonts/social/social.woff?xsakip") format("woff"), url("/source/img/fonts/social/social.svg?xsakip#social") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "social" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}

.icon-inst:before {
  content: "\e901";
}

.icon-twit:before {
  content: "\e902";
}

.popup {
  z-index: 9999;
}
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 528px;
  max-width: 90%;
  padding: 40px 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media (max-width: 768px) {
  .popup__window {
    width: 450px;
  }
}
.popup__window.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media (max-width: 320px) {
  .popup__window {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .modal__title {
    line-height: 150%;
  }
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.2px solid #000;
  background: none;
}
.close-popup:hover {
  border-color: #2196f3;
}
.close-popup:hover::before, .close-popup:hover::after {
  background-color: #2196f3;
}
@media (min-width: 972px) {
  .close-popup {
    cursor: pointer;
  }
}
.close-popup:after, .close-popup:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 20px;
  height: 1.3px;
  right: 4px;
}
.close-popup:before {
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
  top: 14px;
}
.close-popup:after {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
  top: 14px;
}

@media (max-width: 480px) {
  .popup-lock {
    overflow: hidden;
  }
}

.header {
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: #fff;
  padding: 26px 0;
  border-bottom: solid #ECECEC 1px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 480px) {
  .header {
    padding: 16px 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 20px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 932px;
}
@media (max-width: 600px) {
  .header__links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 50px 40px;
    z-index: 2;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: auto;
  }
  .header__links.burger-active {
    top: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
.header__nav {
  margin-right: 30px;
  max-width: 285px;
  width: 100%;
}
@media (max-width: 600px) {
  .header__nav {
    margin-bottom: 40px;
  }
}
.header__contact {
  width: 100%;
  max-width: 340px;
  min-width: 340px;
}
@media (max-width: 768px) {
  .header__contact {
    width: auto;
    max-width: auto;
    min-width: auto;
  }
}
@media (min-width: 600px) {
  .header__burger {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav__item {
  margin-right: 10px;
}
.nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 34px;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}
@media (min-width: 768px) {
  .nav__link:hover {
    color: #2196f3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .nav__link:hover:after {
    content: " ";
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (max-width: 600px) {
  .nav__link {
    font-size: 40px;
    margin-bottom: 34px;
  }
  .nav__link:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  .nav__link {
    font-size: 35px;
  }
}
@media (max-width: 375px) {
  .nav__link {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .nav__link {
    font-size: 25px;
  }
}

.header-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .header-contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header-contacts__list a {
  margin-right: 30px;
}
.header-contacts__list a:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .header-contacts__list a {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header-contacts__list a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .header-contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__item span {
  font-size: 12px;
  margin-right: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 600px) {
  .header-contacts__item span {
    display: none;
  }
}
.header-contacts__item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .header-contacts__item:hover div {
    color: #2196f3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header-contacts__item:hover span::before {
    color: #2196f3;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
.header-contacts__link {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .header-contacts__link_mail {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0.48px;
    margin-bottom: 64px;
  }
}
@media (max-width: 425px) {
  .header-contacts__link_mail {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .header-contacts__link_mail {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .header-contacts__link_tel {
    color: #2196f3;
    font-family: Roboto;
    font-size: 34px;
    letter-spacing: 0.68px;
    margin-bottom: 32px;
  }
}
@media (max-width: 425px) {
  .header-contacts__link_tel {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  .header-contacts__link_tel {
    font-size: 25px;
  }
}
@media (min-width: 600px) {
  .header-contacts__social {
    display: none;
  }
}

.header-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-social__item {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-social__item:last-child {
  border-right: 0;
  margin-right: 0;
}
.header-social__link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.222%;
  letter-spacing: 0.36px;
}
@media (max-width: 425px) {
  .header-social__link {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .header-social__link {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .header-social__link {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .header-social {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 120;
  }
  .header-burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    z-index: 999;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before {
    top: 0;
    z-index: 3;
  }
  .header-burger:after {
    bottom: 0;
    z-index: 120;
  }
  .header-burger.burger-active:before {
    background-color: #2196f3;
    -webkit-transform: rotate(44deg);
            transform: rotate(44deg);
    top: 9px;
  }
  .header-burger.burger-active span {
    background-color: #2196f3;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-burger.burger-active:after {
    background-color: #2196f3;
    -webkit-transform: rotate(-44deg);
            transform: rotate(-44deg);
    bottom: 9px;
  }
  .header-burger.hide:before {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0px;
  }
  .header-burger.hide span {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header-burger.hide:after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 0px;
  }
}
.intro {
  background-image: url("../../source/img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
@media (max-width: 768px) {
  .intro {
    padding: 120px 0;
  }
}
.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__title {
  width: 696px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .intro__title {
    width: 360px;
    font-size: 26px;
    line-height: 161.538%;
    letter-spacing: 1.56px;
  }
}
@media (max-width: 480px) {
  .intro__title {
    font-size: 26px;
    line-height: 161.538%;
    letter-spacing: 1.56px;
  }
}
.about {
  padding: 94px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 60px 0;
  }
}
.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr) 30px minmax(100px, 1fr) 30px minmax(100px, 1fr);
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .about__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.about-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
}
.about-card__img span {
  font-size: 70px;
}
.about-card__title {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-card__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}

@media (max-width: 768px) {
  .workshop {
    display: none;
  }
}
.workshop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.workshop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.workshop__card {
  padding: 0 15px;
}

.workshop-card {
  margin-bottom: 94px;
}
.workshop-card__img {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .workshop-card__img:hover .workshop-card__overlay {
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
.workshop-card__img img {
  max-width: 100%;
}
.workshop-card__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 24%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.workshop-card__overlay-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background: #f5f4fa;
  padding: 94px 0;
}
@media (max-width: 768px) {
  .team {
    padding: 60px 0;
  }
}
.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr) 30px minmax(100px, 1fr) 30px minmax(100px, 1fr);
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .team__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .team__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 42px;
}
@media (max-width: 480px) {
  .team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-card__avatar {
  margin-bottom: 30px;
}
.team-card__avatar img {
  max-width: 100%;
}
.team-card__inner {
  padding: 0 44px;
}
@media (max-width: 1024px) {
  .team-card__inner {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .team-card__inner {
    max-width: 206px;
  }
}
.team-card__text {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 28px;
}
.team-card__title {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
}
.team-card__description {
  color: #757575;
  font-weight: 400;
}
.team-card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .team-card__social {
    padding: 0 60px;
  }
}
.team-card__img {
  z-index: 2;
  position: relative;
}
.team-card__img span {
  font-size: 20px;
}
@media (min-width: 768px) {
  .team-card__img span:hover:hover:after {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 44px;
    height: 44px;
    background-color: #2196f3;
    border-radius: 50%;
    z-index: -1;
  }
  .team-card__img span:hover::before {
    color: #fff;
  }
}

.client {
  padding: 94px 0;
}
@media (max-width: 768px) {
  .client {
    padding: 60px 0;
  }
}
.client__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.client__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 92px;
  grid-template-rows: 92px;
  gap: 30px;
}
.client__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.client__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.client__content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.client__content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.client__content > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.client__content > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
@media (max-width: 768px) {
  .client__content {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 92px 30px 92px;
    grid-template-rows: 92px 92px;
    gap: 30px;
  }
  .client__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .client__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .client__content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .client__content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .client__content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .client__content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}
@media (max-width: 480px) {
  .client__content {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 92px 30px 92px 30px 92px;
    grid-template-rows: 92px 92px 92px;
    gap: 30px;
  }
  .client__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .client__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .client__content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .client__content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .client__content > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .client__content > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}
.client__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.client__card span {
  font-size: 41px;
}
@media (min-width: 768px) {
  .client__card:hover {
    border-color: #2196f3;
  }
  .client__card:hover span::before {
    color: #2196f3;
  }
}

.catalog {
  padding: 94px 0;
}
@media (max-width: 768px) {
  .catalog {
    padding: 60px 0;
  }
}
.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__filter {
  display: inline;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .catalog__filter {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .catalog__filter {
    margin-bottom: 25px;
  }
}
.catalog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr) 30px minmax(100px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .catalog__content {
    -ms-grid-columns: minmax(100px, 1fr) 30px minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .catalog__content {
    -ms-grid-columns: minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.catalog__card {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .catalog__card:hover {
    -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .catalog__card:hover .catalog-card__overlay {
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.filter__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-menu__item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.filter-menu__item:last-child {
  margin-right: 0;
}
.filter-menu__button {
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
}
.filter-menu__button:hover {
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.filter-selected {
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.catalog-card__img {
  position: relative;
  overflow: hidden;
}
.catalog-card__img img {
  width: 100%;
}
.catalog-card__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0 24px;
}
.catalog-card__description {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
}
.catalog-card__text {
  padding: 20px 24px;
}
.catalog-card__title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
}
.catalog-card__category {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 950px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr;
        grid-template-areas: "links media" "subscribe subscribe";
    gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 480px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__links {
  grid-area: links;
  min-width: 207px;
  margin-right: 25px;
}
.footer__links img {
  margin-bottom: 28px;
}
@media (max-width: 950px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: auto;
    margin-right: 0;
  }
}
.footer__media {
  grid-area: media;
  margin-top: 7px;
  margin-right: 25px;
}
@media (max-width: 950px) {
  .footer__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  .footer__title {
    text-align: center;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__subscribe {
  grid-area: subscribe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 570px;
  margin-top: 7px;
}
@media (max-width: 950px){
  .footer__links {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__media {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer__subscribe {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 950px) {
  .footer__subscribe {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .footer__subscribe {
    width: 100%;
  }
}
.footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 950px) {
  .footer__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__blank {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  padding: 15px 0 15px 16px;
  color: #fff;
}
.footer__blank::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
.footer__blank::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
.footer__blank:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
.footer__blank::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
.footer__blank::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
@media (max-width: 950px) {
  .footer__blank {
    padding: 15px 0 15px 16px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .footer__blank {
    width: 100%;
  }
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__button span {
  font-size: 24px;
  margin-left: 10px;
}
@media (max-width: 950px) {
  .footer__button {
    width: 200px;
  }
}

.footer-menu__item {
  margin-bottom: 12px;
}
.footer-menu__item:last-child {
  margin-bottom: 0;
}
.footer-menu__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.286%;
  letter-spacing: 0.42px;
}
.footer-menu__link_white {
  color: #fff;
}

.footer-social {
  margin-top: 30px;
}
@media (max-width: 950px) {
  .footer-social {
    margin-top: 0;
  }
}
.footer-social__img {
  z-index: 2;
  position: relative;
  margin-right: 34px;
}
.footer-social__img:last-child {
  margin-right: 0;
}
.footer-social__img:after {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}
@media (min-width: 950px) {
  .footer-social__img:hover:hover:after {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 44px;
    height: 44px;
    background-color: #2196f3;
    border-radius: 50%;
    z-index: -1;
    cursor: pointer;
  }
}
.footer-social__img span {
  font-size: 20px;
}
.footer-social__img span::before {
  color: #fff;
}

.footer-form {
  width: 100%;
}
.footer-form__input {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.8);
  padding: 0 15px 15px 15px;
  margin-bottom: 32px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 131.25%;
  color: black;
  width: 100%;
}
.footer-form__input:focus {
  border-bottom: 1px solid #68b738;
}
@media (max-width: 480px) {
  .footer-form__input {
    width: 100%;
  }
}

.title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}